body {
  margin: 0;
  font-family: 'Chivo Mono', monospace;
}
main{
  padding: 36px;
}
nav{
  display: flex;
  background: whitesmoke;
  color: darkgray;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;

}
.logo-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo--image{
  width: 75px;
  height: 75px;
}
.logo--title{
  font-size: 1.5rem;
  font-weight: 600;
}
.form{
  display: grid;
  grid-template: 40px 40px/1fr 1fr;
  gap: 17px;
  margin-bottom: 20px;
}

.form--input{
  font-family: 'Chivo Mono', monospace;
  border: 1px solid #D5D4D8;
  border-radius: 10px;
  text-indent: 5px;
}

.form--button{
  font-family: 'Chivo Mono', monospace;
  grid-column: 1/ -1;
  cursor: pointer;
}
.meme{
  border: 1px solid red;
  position:relative;
}
.meme--image{
  max-width: 100%;
}
.meme--text{
  text-align: center;
  position: absolute;
  width: 80%;
  margin: 15px 0;
  transform: translateX(-50%);
  left: 50%;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.top{
  top: 0;
}

.bottom{
  bottom: 0;
}